body {
    margin: 0px;
    padding: 0px;
}

#navimage{
    margin-top: -120px;
    background-image: url("https://www.zoomcar.com/assets/component-images/ZMS-Hero-Banner.584135fee08ac6c84fee329d5fb915f4.jpg");
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 140px;
    height: 550px;
    border-bottom: 15px solid green;
    display: grid;
}
#navimage>div{
    width: 100%;
    
    display: flex;
    padding-top: 20px;
    align-items: flex-start;
    justify-content: space-around;
}

#navimage>div>img {
    margin-top: 130px;
    width: 9%;
}
#navimage>div>button{
    margin-top: 125px;
    padding: 10px 15px;
}

#navimage>h1{
    color: white;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 130px;
    font-size: 40px;
}

#navimage>p{
    width: 40%;
    margin: auto;
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}
#navimage>:last-child>button{
    background-color: green;
    padding: 15px 0px;
    border: 0px;
    width: 18%;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
}

#navimage~h1{
    text-align: center;
    margin-top: 60px;
    font-size: 35px;
}
#box1{
    width: 75%;
    background-color: rgb(245,245,245);
    margin: auto;
    height: auto;
    padding: 30px;
    border-radius: 10px;
}
#box1>p{
    width: 58%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: rgb(104,105,108);
    margin-top: 70px;
}
#slider{
    margin-top: 50px;
    animation: 9s slider infinite;

}
#slider~h1{
    font-size: 24px;
    color: rgb(104,105,108);
    letter-spacing: 1px;
    margin-top: 50px;
}
#card{
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

#card div{
    padding-right: 5px;
}
#card div h3{
    font-size: 18px;
    color: rgb(31 31 31);
}
#card div p{
    color: rgb(104,105,108);
    font-size: 18px;
}
#card~a>button{
   padding: 10px 60px; 
   border-radius: 4px;
   background-color: rgb(16,163,16);
   border: 0px;
   color: white;
   font-size: 14px;
}

#box2{
    margin-top: 70px;
    background-color: rgb(11,132,8);
    height: 400px;
    padding-top: 40px;
}
#box2>h1{
    color: white;
    text-align: center;
}

#box2>div{
    background-color: rgb(245,245,245);
    width: 75%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    display: grid;
    padding: 50px 70px;
    grid-template-columns: repeat(3,1fr);
    gap: 50px 20px;
}
#mini h3{
    font-size: 18px;
}

#mini img{
    width: 10%;
}
#mini p{
    color: rgb(104,105,108);
    font-size: 17px;
}

#box2~div{
    width: 75%;
    margin: auto;
    margin-top: 450px;
    margin-bottom: -300px;
}
#box2~div>img{
    width: 100%;
}
#box2~div>h1{
    text-align: center;
    margin: 40px;
}
#box2~div>p{
    width: 45%;
    margin: auto;
    margin-top: -25px;
    color: rgb(104,105,108);
    font-size: 18px;
}

#card2{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
#card2>div{
    background-color: rgb(27,27,27);
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
}

#card2>div>img{
    width: 50px;
}
#card2>div>h3{
    font-size: 22px;
    color: white;
    margin-top: 70px;
}

#connect>p{
    text-align: center;
}

#connect>form{
    width: 55%;
    margin: auto;
    margin-top: 50px;
}
#connect>form>input{
    height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 5px;
}
#Email{
    width: 92%;
}
#decription{
    width: 92%;
}

#connect>form>#decription{
    height: 100px;
}

#submit{
    width: 35%;
    margin: auto;
}

#submit>input{
    width: 100%;
    padding: 10px 10px;
    color: white;
   background-color: green; 
   margin: auto;
   border: 0px;
}

